[flake8]
max-line-length = 120
exclude = .git,__pycache__,.venv,env,venv,.env,docs/,build/,dist/,*.egg-info,.tox,.coverage,.coverage.*,coverage.xml,*.cover,.pytest_cache,.mypy_cache
ignore = E501,W503,E203,F403,F405,W293,W292,E302,E226,E305
per-file-ignores = 
    __init__.py:F401
    tests/*:F401,F811
    tools/*:F401,E402