datasets==2.16.1
openai>=1.68.2,<2.0.0
pypdf>=4.0.0,<5.0.0
transformers>=4.44.0,<5.0.0
langchain-experimental==0.3.4
langchain-openai>=0.2.0,<0.4.0
python-dotenv==1.0.1
pyyaml==6.0.1
coloredlogs==15.0.1
mdc==1.2.1
pytest==8.1.2
wand
PyCryptodome
azure-identity
torch
python-pptx
promptflow-core
azure-ai-evaluation
jsonlines